<!DOCTYPE html>
<html>
	<head>
		<title>GV - Lịch dạy</title>
		<link rel="stylesheet" href="../../styles/common/main.css" />
		<link rel="stylesheet" href="../../styles/component/table.css" />
		<link rel="stylesheet" href="../../styles/component/dialog.css" />
		<link rel="stylesheet" href="../../styles/component/button.css" />
		<link rel="stylesheet" href="../../styles/teacher/class-detail.css" />
	</head>

	<body>
		<div class="header">
			<div class="title">
				<div class="info">
					<div class="logo-hust"></div>
					<div class="web-title">Hệ thống quản lý học tập</div>
				</div>
				<div class="accessibility">
					<div class="profile">
						<div class="icon icon-facebook"></div>
						<div class="icon icon-gmail"></div>
						<div class="icon-avatar"></div>
					</div>
					<div class="week-display">
						Tuần&nbsp;<span id="week">8</span> (Tuần học
						thứ&nbsp;<span id="learning-week">7</span>):&nbsp;<span
							id="period"
							>15/11 - 20/11</span
						>
					</div>
				</div>
			</div>
		</div>
		<div class="main">
			<div class="sidebar">
                <button class="sidebar-item white" onclick="location.href = `schedule-page.html`">
                  <img src="../../assets/images/logo-vscode.png" alt="" />
                  Lịch dạy
                </button>
                <button class="sidebar-item blue" onclick="location.href = `detail-page.html`">
                  <img src="../../assets/images/logo-vscode.png" alt="" />
                  Chi tiết giáo viên
                </button>
                <button class="sidebar-item white" onclick="location.href = `send-notification.html`">
                  <img src="../../assets/images/logo-vscode.png" alt="" />
                  Gửi thông báo
                </button>
                </button>
                <button class="sidebar-item white" onclick="location.href = `notification-page.html`">
                  <img src="../../assets/images/logo-vscode.png" alt="" />
                  Xem thông báo
                </button>
			</div>

			<div class="content" style="margin-left: 35px; margin-top: 35px">
				<div class="toolbar" style="margin-bottom: 15px">
					<button onclick="backtoTeacher()">Back</button>
					<input placeholder="Tìm kiếm" />
					<i>(Click đúp vào sinh viên để chấm điểm)</i>
				</div>

				<div class="table-wrapper" style="width: 90%">
					<table
						keyId="ScheduleId"
						cellspacing="0"
						cellpadding="0"
						style="min-width: 100%"
					>
						<thead>
							<tr>
								<th
									colspan="1"
									rowspan="1"
									class="align-left"
									fieldName=""
								>
									Mã số sinh viên
								</th>
								<th
									colspan="1"
									rowspan="1"
									class="align-left"
									fieldName=""
								>
									Tên sinh viên
								</th>
								<th
									colspan="1"
									rowspan="1"
									class="align-left"
									fieldName=""
								>
									Điểm giữa kì
								</th>
								<th
									colspan="1"
									rowspan="1"
									class="align-left"
									fieldName=""
								>
									Điểm cuối kì
								</th>

								<!-- <th class="gutter" style="width: 1px"></th> -->
							</tr>
						</thead>
						<tbody id="detail-class"></tbody>
					</table>
				</div>
			</div>
			<div class="m-dialog" id="point-form" style="display: none">
				<div class="m-dialog-modal"></div>
				<div class="m-dialog-box">
					<div class="m-dialog-header">
						<div
							class="square-btn close-btn white"
							id="button-close"
							onclick="toggleDialog()"
						></div>
					</div>
					<div class="m-dialog-content">
						<h2>
							<span>Sinh viên:</span> &emsp;
							<span id="student-name">Nguyễn Văn A</span>
							&emsp;&ndash; &emsp;
							<span id="student-id">2018xxxx</span>
						</h2>
						<div class="points">
							<div class="data">
								<h3>Điểm giữa kỳ</h3>
								<input type="text" id="midterm" />
							</div>
							<div class="data">
								<h3>Điểm cuối kỳ</h3>
								<input type="text" id="final" />
							</div>
						</div>
					</div>
					<div class="m-dialog-footer">
						<button
							class="rectangle-btn grey"
							style="margin-right: 16px"
							id="button-cancel"
							onclick="toggleDialog()"
						>
							Hủy
						</button>
						<button
							onclick="updatePoint()"
							class="rectangle-btn green"
							id="button-save"
						>
							Lưu
						</button>
					</div>
				</div>
			</div>
		</div>

		<div class="footer">
			<script src="../../scripts/teacher/ClassDetail.js"></script>
		</div>
	</body>
</html>
