<!DOCTYPE html>
<html>

<head>
    <title>PĐT - Quản lý lớp học</title>
</head>

<body>
    <div class="header">
        <div class="title">
            <div class="info">
                <div class="logo-hust"></div>
                <div class="web-title">Hệ thống quản lý học tập</div>
            </div>
            <div class="accessibility">
                <div class="profile">
                    <div class="icon icon-facebook"></div>
                    <div class="icon icon-gmail"></div>
                    <div class="icon-avatar"></div>
                </div>
                <div class="week-display">
                    Tuần&nbsp;<span id="week">8</span> (Tuần học thứ&nbsp;<span id="learning-week">7</span>):&nbsp;<span id="period">15/11 - 20/11</span>
                </div>
            </div>
        </div>
    </div>

    <div class="main">
        <div class="sidebar">
            <button class="sidebar-item blue" onclick="location.href = `class-page.html`">
                <img src="../../assets/images/logo-vscode.png" alt="" />
                Quản lý lớp học
            </button>
            <button class="sidebar-item white" onclick="location.href = `teacher-page.html`">
                <img src="../../assets/images/logo-vscode.png" alt="" />
                Quản lý giáo viên
            </button>
            <button class="sidebar-item white" onclick="location.href = `student-page.html`">
                    <img src="../../assets/images/logo-vscode.png" alt="" />
                    Quản lý học sinh
                </button>
            <button class="sidebar-item white" onclick="location.href = `studentclass-page.html`">
                    <img src="../../assets/images/logo-vscode.png" alt="" />
                    Quản lý lớp sinh viên
                </button>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-3">
                    <button class="rectangle-btn green" id="add-class-btn">Thêm lớp học
                    </button>
                </div>
            </div>
            <br />
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th colspan="1" rowspan="1" class="align-center" fieldName="">Mã lớp học</th>
                        <th colspan="1" rowspan="1" class="align-center" fieldName="">Mã học phần</th>
                        <th colspan="1" rowspan="1" class="align-center" fieldName="">Tên học phần</th>
                        <th colspan="1" rowspan="1" class="align-center" fieldName="">Kỳ học</th>
                        <th colspan="1" rowspan="1" class="align-center" fieldName="">Phòng học</th>
                        <th colspan="1" rowspan="1" class="align-center" fieldName="">Lịch học</th>
                    </tr>
                </thead>
                <tbody id="table-content">
                </tbody>
            </table>
            <br />
            <div class="align-center">
                <div id="pagination" class="pagination">
                </div>
            </div>
        </div>

        <div id="modal-edit-class" class="modal">
            <!-- Modal content -->
            <div class="modal-content" style="width: 50%;">
                <div class="modal-header">
                    <span id="close-edit-class" class="close">&times;</span>
                    <h2>Chỉnh sửa lớp học</h2>
                </div>
                <div class="modal-body">
                    <form id="edit-class-form">
                        <input id="edit-guid" type="hidden" name="guid" value="value" />
                        <div class="row" style="justify-content: center;">
                            <div class="col-6" style="margin: 20px auto 20px auto;">
                                <label for="edit-classID">Mã lớp học</label>
                                <input id="edit-classID" type="text" name="classID" value=""
                                    style="width: 100%; height: 40px;" />
                                <span id="error-message" style="color: red;"></span>
                            </div>
                            <div class="col-6" style="margin: 20px auto 20px auto;">
                                <label for="edit-teacherID">Mã giảng viên</label>
                                <input id="edit-teacherID" type="text" name="teacherID" value=""
                                    style="width: 100%; height: 40px;" />
                                <span id="error-message" style="color: red;"></span>
                            </div>
                            <div class="col-6" style="margin: 20px auto 20px auto;">
                                <label for="edit-subjectID">Mã học phần</label>
                                <input id="edit-subjectID" type="text" name="subjectID" value=""
                                    style="width: 100%; height: 40px;" />
                                <span id="error-message" style="color: red;"></span>
                            </div>
                            <div class="col-6" style="margin: 20px auto 20px auto;">
                                <label for="edit-studentClassID">Mã lớp sinh viên</label>
                                <input id="edit-studentClassID" type="text" name="studentClassID" value=""
                                    style="width: 100%; height: 40px;" />
                                <span id="error-message" style="color: red;"></span>
                            </div>
                            <div class="col-6" style="margin: 20px auto 20px auto;">
                                <label for="edit-semester">Kỳ học</label>
                                <input id="edit-semester" type="text" name="semester" value=""
                                    style="width: 100%; height: 40px;" />
                                <span id="error-message" style="color: red;"></span>
                            </div>
                            <div class="col-6" style="margin: 20px auto 20px auto;">
                                <label for="edit-classroomName">Phòng học</label>
                                <input id="edit-classroomName" type="text" name="classroomName" value=""
                                    style="width: 100%; height: 40px;" />
                                <span id="error-message" style="color: red;"></span>
                            </div>
                            <div class="col-12" style="margin: 20px auto 20px auto;">
                                <label for="edit-schedule">Chi tiết</label>
                                <input id="edit-schedule" type="text" name="schedule" value=""
                                    style="width: 100%; height: 40px;" />
                                <span id="error-message" style="color: red;"></span>
                            </div>

                            <input class="rectangle-btn green" type="submit" value="Chỉnh sửa lớp học"
                                style="width: 100%; height: 40px;" />
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="modals"></div>

    <div id="modal-add-class" class="modal">
        <!-- Modal content -->
        <div class="modal-content" style="width: 50%;">
            <div class="modal-header">
                <span id="close-add-class" class="close">&times;</span>
                <h2>Thêm lớp học</h2>
            </div>
            <div class="modal-body">
                <form id="add-class-form">
                    <div class="row" style="justify-content: center;">
                        <div class="col-6" style="margin: 20px auto 20px auto;">
                            <label for="edit-classID">Mã lớp học</label>
                            <input id="edit-classID" type="text" name="classID" value=""
                                style="width: 100%; height: 40px;" />
                            <span id="error-message" style="color: red;"></span>
                        </div>
                        <div class="col-6" style="margin: 20px auto 20px auto;">
                            <label for="edit-teacherID">Mã giảng viên</label>
                            <input id="edit-teacherID" type="text" name="teacherID" value=""
                                style="width: 100%; height: 40px;" />
                            <span id="error-message" style="color: red;"></span>
                        </div>
                        <div class="col-6" style="margin: 20px auto 20px auto;">
                            <label for="edit-subjectID">Mã học phần</label>
                            <input id="edit-subjectID" type="text" name="subjectID" value=""
                                style="width: 100%; height: 40px;" />
                            <span id="error-message" style="color: red;"></span>
                        </div>
                        <div class="col-6" style="margin: 20px auto 20px auto;">
                            <label for="edit-studentClassID">Mã lớp sinh viên</label>
                            <input id="edit-studentClassID" type="text" name="studentClassID" value=""
                                style="width: 100%; height: 40px;" />
                            <span id="error-message" style="color: red;"></span>
                        </div>
                        <div class="col-6" style="margin: 20px auto 20px auto;">
                            <label for="edit-semester">Kỳ học</label>
                            <input id="edit-semester" type="text" name="semester" value=""
                                style="width: 100%; height: 40px;" />
                            <span id="error-message" style="color: red;"></span>
                        </div>
                        <div class="col-6" style="margin: 20px auto 20px auto;">
                            <label for="edit-classroomName">Phòng học</label>
                            <input id="edit-classroomName" type="text" name="classroomName" value=""
                                style="width: 100%; height: 40px;" />
                            <span id="error-message" style="color: red;"></span>
                        </div>
                        <div class="col-12" style="margin: 20px auto 20px auto;">
                            <label for="edit-schedule">Chi tiết</label>
                            <input id="edit-schedule" type="text" name="schedule" value=""
                                style="width: 100%; height: 40px;" />
                            <span id="error-message" style="color: red;"></span>
                        </div>

                        <input class="rectangle-btn green" type="submit" value="Thêm lớp học" />
                </form>
            </div>
        </div>
    </div>
    </div>
</body>

</html>

<style>
    @import url('../../styles/admin/page.css');
    @import url('../../styles/admin/components/modal.css');
    @import url('../../styles//admin/components/pagination.css');
</style>
<script type="module" src="../../scripts/admin/scripts.js"></script>
<script type="module" src="../../scripts/admin/class-page.js"></script>
<script type="module" src="../../scripts/admin/modal.js"></script>