<!DOCTYPE html>
<html>
  <head>
    <title>Page Title</title>
    <link rel="stylesheet" href="../styles/index.css" />
  </head>
  <body>
    <div class="header">
      <div class="title">
        <div class="info">
          <div class="logo-hust"></div>
          <div class="web-title">Hệ thống quản lý học tập</div>
        </div>
        <div class="accessibility">
          <div class="profile">
            <div class="icon icon-facebook"></div>
            <div class="icon icon-gmail"></div>
            <div class="icon-avatar"></div>
          </div>
          <div class="week-display">
            Tuần&nbsp;<span id="week">8</span> (Tuần học thứ&nbsp;<span
              id="learning-week"
              >7</span
            >):&nbsp;<span id="period">15/11 - 20/11</span>
          </div>
        </div>
      </div>
      <div class="navbar">
        <div class="topnav">
          <a href="#">Tab 1</a>
          <a href="#">Tab 2</a>
          <a href="#" class="active">Tab 3</a>
          <a href="#">Tab 4</a>
          <a href="#">Tab 5</a>
          <a href="#">Tab 6</a>
        </div>
      </div>
    </div>
    <div class="content">
      <div class="sidebar">
        <div class="option">
          <img src="../assets/images/logo-vscode.png" alt="" />
          Option 2
        </div>
        <div class="option">
          <img src="../assets/images/logo-steam.png" alt="" />
          Option 2
        </div>
        <div class="option">
          <img src="../assets/images/logo-discord.png" alt="" />
          Option 4
        </div>
        <div class="option">
          <img src="../assets/images/logo-steam.png" alt="" />
          Option 5
        </div>
        <div class="option">
          <img src="../assets/images/logo-vscode.png" alt="" />
          Option 2
        </div>
        <div class="option active">
          <img src="../assets/images/logo-steam.png" alt="" />
          Option 2
        </div>
        <div class="option">
          <img src="../assets/images/logo-discord.png" alt="" />
          Option 4
        </div>
        <div class="option">
          <img src="../assets/images/logo-steam.png" alt="" />
          Option 5
        </div>
        <div class="option">
          <img src="../assets/images/logo-vscode.png" alt="" />
          Option 2
        </div>
        <div class="option">
          <img src="../assets/images/logo-steam.png" alt="" />
          Option 2
        </div>
        <div class="option">
          <img src="../assets/images/logo-discord.png" alt="" />
          Option 4
        </div>
        <div class="option">
          <img src="../assets/images/logo-steam.png" alt="" />
          Option 5
        </div>
        <div class="option">
          <img src="../assets/images/logo-vscode.png" alt="" />
          Option 2
        </div>
      </div>
      <div class="body"></div>
    </div>
    <div class="footer"></div>
    <script src="main.js"></script>
  </body>
</html>
